# 桌面程序路径，常用的有：Deepseek Harness Desktop，DSH Desktop
desktop=D:\Users\xxx\AppData\Local\Deepseek Harness Desktop\
curr_core=C:\Users\xxx\AppData\Roaming\io.github.hairyf.deepseek-harness-desktop\dependencies\dsh
curr_core_ver=0.1.1-rc.2
dsh_web=http://127.0.0.1:3080
dsh_config=C:\Users\xxx\.dsh
# profile=web/desktop,实际就是多环境新建和切换
profile=desktop